@model NTR02.Models.Note

@{
    ViewData["Title"] = "Edit";
}

<div class="well">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NoteID" />
            <div class="row">
            <div class="col-sm-1">Title: </div>            
            <div class="col-sm-9">
                <input asp-for="Title" type="text" style = "width:500px" />
            </div>
            <div class ="col-sm-2">
            </div>
        </div>
        <textarea asp-for="Description" type="text" style="width:1100px; height:400px;"> </textarea>
        <div class = "row">
        <div class = "col-sm-5 col-sm-offset-4"> Category:
            <input name="Category" type = "text" />
        </div>
        <div class = "col-sm-3"> Date:
            <input asp-for="NoteDate" />
        </div>
        <hr/>
        </div>
        <div align="right">
            <input type="submit" value="Save" class="btn btn-secondary" />
            <a asp-action="Index" type="button" class="btn btn-secondary">Cancel</a>          
        </div>
        </form>
        <form asp-action="UpdateCategory">
        <div class="row">
            <div class="col-sm-3">
                <select>
                    @foreach(var cat in ViewBag.Categories)
                    {
                        <option> @cat.Name </option>
                    }
                </select>
            </div>
            <div class="col-sm-3">
                <input type ="text" name ="category"/>
            </div>
            <div class="col-sm-5">
                <input type ="submit" name ="Add" value ="Add"/>
                <input type ="submit" name ="Remove" value = "Remove"/>
            </div>
        </div>
        <input type= "hidden" name = "id" value = "@Model.NoteID" />
        <input type = "hidden" name = "view" value = "Edit" />
        
        
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
